header {
    background-color: var(--color-very-pale-cyan);
    background-image: url('../../design/images/bg-hero-mobile.svg');
    padding: 1rem;
    font-family: var(--font-poppins);
    font-weight: 600;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title__title {
    display: none;
}

.header-title__logo {
    width: 120px;
    height: 20px;
}

.header-title__button {
    background-color: white;
    color: var(--color-very-dark-cyan);
    border: 1px solid var(--color-very-dark-cyan);
    border-radius: 10px;
    padding: 0.3rem 1rem;
    text-decoration: none;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.header-content__button {
    background-color: var(--color-primary);
    color: var(--color-very-pale-cyan);
    border: 1px solid var(--color-very-dark-cyan);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    text-decoration: none;
}

.header-preview__image {
    margin: 1rem auto;
    width: 340px;
    height: auto;
}

@media screen and (min-width: 1440px) {
    .header {

    }
    
    .header-content {
        width: 50%;
    }

    .header-preview {
        width: 50%;
    }
}